<h1>Forms & Validators</h1>
<pre>
  Create an Angular form that allows users to register (mock) by filling out various fields, including name, email and password.

  Requirements:

  - The password field should have a custom validator that enforces specific password complexity rules.
  - The rules are :
    - minimum length 4 characters
    - maximum length 10 characters
    - atleast 1 special characters
    - ** nice to have - Do not allow the same consecutive character.
  - name
    - required
  - email
    - must be a valid email matching a pattern
  - Disable the form submission button until all fields are valid.
  - Display error messages for invalid fields and overall form validation errors.
</pre>
<!--Do Not touch the code above this line!-->
<hr/>
<span>YOUR CODE HERE!</span>

<!-- exercise1.component.html -->
<h2>Registration Form</h2>

<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required #nameInput="ngModel">
    <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error-message">
      <div *ngIf="nameInput.errors?.['required']">Name Field is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" #emailInput="ngModel">
    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
      <div *ngIf="emailInput.errors?.['required']">Email Field is required.</div>
      <div *ngIf="emailInput.errors?.['pattern']">Invalid email format.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="user.password" required minlength="4" maxlength="10" [pattern]="passwordPattern" #passwordInput="ngModel" validatePassword>
    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message">
      <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
      <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 4 characters long.</div>
      <div *ngIf="passwordInput.errors?.['maxlength']">Password cannot exceed 10 characters.</div>
      <div *ngIf="passwordInput.errors?.['invalidPassword']">Invalid password format.</div>
      <span *ngIf="registerForm.controls['password'].errors?.['pattern']">Password must contain at least 1 special character, 1 letter, and 1 digit.</span>
    </div>
  </div>

  <button type="submit" [disabled]="!registerForm.valid">Register</button>
</form>
